@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Racing+Sans+One&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
	font-family: 'PT Serif Caption', serif;
	background: #000000d2;
}

main {
	display: flex;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.contenedor__imagen {
	flex: 1 1;

	position: relative;
}

.contenedor__imagen img {

	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0px;
	color: transparent;



}



.formulario__titulo {
	font-size: 5rem;
	margin: 0 auto;
	font-family: 'PT Serif Caption', serif;
	border-radius: 10px;
	padding: 1.5rem;
	color: white;
	
}


.box {
	display: inherit;
	
	border-radius: 5px;
	box-shadow: 0 2px 30px rgba(black, .2);
	background: lighten(#e5f06d, 10%);
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
  }
  
  .wave {
	opacity: .4;
	position: absolute;
	top: 20%;
	left: 50%;
	background: rgb(234, 201, 247);
	width: 1200px;
	height: 990px;
	margin-left: -550px;
	margin-top: -400px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	animation: drift 8000ms infinite linear;
  }
  
  .wave.-three {
	animation: drift 8000ms infinite linear;
  }
  
  .wave.-two {
	animation: drift 3000ms infinite linear;
	opacity: .5;
	
  }
  
  .box:after {
	content: '';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(rgb(196, 29, 84), 2), rgba(rgb(152, 203, 255), 0) 80%, rgba(white, .5));
	z-index: 11;
	transform: translate3d(0, 0, 0);
  }
  
 
  @keyframes drift {
	from { transform: rotate(0deg); }
	from { transform: rotate(360deg); }
  }


@keyframes drift {
	from {
		transform: rotate(0deg);
	}

	from {
		transform: rotate(360deg);
	}
}

.formulario__titulo::after {
	font-size: 5rem;
	margin: 0 auto;
	background: #bd422c;
	border-radius: 10px;
	padding: 1.5rem;
	color: rgb(255, 255, 255);
}

.formulario {
	background: linear-gradient(to bottom, rgb(122 164 189), rgba(183, 159, 238, 0.5) 80%, rgba(255, 255, 255, 0.651));

	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 20px;
	position: inherit;
	z-index: 1;
}

.formulario__label {
	font-size: 1.2rem;
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid rgb(212, 212, 212);
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgb(63, 63, 63);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
	background: rgb(255, 255, 255);
	color: black;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__label {
	color: black;

}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.contenedor__formulario {
	width: 800px;
	margin: 0 auto;
}

.contenedor__main {
	display: flex;
	flex: 1 1;
	background: #ffffff;
	width: 900px;
	margin: auto;
	justify-content: center;

}

/* las waves*/




/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {


	.contenedor__imagen {
		display: none !important;
	}

	.contenedor__imagen img {

		display: none !important;



	}

	.contenedor__formulario {
		width: 100%
	}

	main {
		width: 100%;
		padding: 0;

	}


	.formulario__titulo {
		font-size: 3rem;
		margin: 0 auto;
	
		border-radius: 10px;
		padding: 1.5rem;
	}

}